#header1.dark-mode1 {
  background-color: #111;
  color: #eee;
}

.section-title.dark-mode1 {
  color: #fff;
}


@-webkit-keyframes zoomOutDownn {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDownn {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

#dm-experience.dark-mode1 {
  -webkit-animation-name: zoomOutDownn;
  animation-name: zoomOutDownn;
  animation-iteration-count: 5;
}


#about.dark-mode1 {
  background: url(body-bg-dark.png);
  color: #eee;
}

#img1.dark-mode1 {
  height: 60px;
}

#resume.dark-mode1 {
  background: url(body-bg-dark.png);
}

.timeline-panel.dark-mode1 {
  background-color: #111;
  color: #111;
}

.posted-date.dark-mode1 {
  background-color: #111;
  color: #eee;
}

#posted-date.dark-mode1 {
  background-color: #111;
}

#skills.dark-mode1 {
  background: url(body-bg-dark.png);
  color: #eee;
}

.skill-title h3.dark-mode1 {
  color: #e1332d;
}

.per.dark-mode1 {
  color: #e1332d;
}

#more-skills.dark-mode1 {
  background: #111;
  color: #e1332d;
}

#works.dark-mode1 {
  background: #111;
  color: #eee;
}

#contact.dark-mode1 {
  color: #fff;
  background: url(body-bg-dark.png);
}

#section-wrapper {
  display: flex;
  cursor: pointer;
  box-shadow:inset 0px 0px 3px rgba(0,0,0,.5);
  -webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0,.5); 
  -moz-box-shadow:inset 0px 0px 3px rgba(0,0,0,.5);
}

#toggle {
  text-shadow: 0px 0px 8px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.5); 
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}

#section-title.dark-mode1 {
  color: #fff;
}
