/* Extra small devices (phones, less than 321px) */
@media (max-width : 320px) {

	#preloder img {
	  position: absolute;
	  top: 20.5%;
	  left: 25.15%;
	}

	#preloder p{
	  position: absolute;
	  top: 40.5%;
	  left: 20.85%;
	  color: #68c3a3;
	  font-size: 12px;
	  font-weight: 500;
	  font-family: 'Orbitron', sans-serif;
	}

	.loader {
	  width: 140px;
	  height: 140px;
	  position: absolute;
	  top: 20%;
	  left: 25%;
	  border-radius: 140px;
	  animation: loader 5s linear infinite;
	  -webkit-animation: loader 5s linear infinite;
	}


	.intro h1 {
		font-size: 20px;
		line-height: 40px;
		padding-left: 40px;
	}

	.social-icons ul{
		margin-left: 0;
		text-align: center;
	}

	.social-icons li{
		padding:0;
	}

	.social-icons a i{
		margin: 10px;
	}

	.mouse-icon{
		display:none;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 100%;
	}

	.download-button .btn{
		margin-bottom: 20px;
	}

	#mrdw-20{
		margin-bottom: 20px;
	}

	.about-section .download-button .button-container-1{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 2vh;
	}

	/*resume*/
	.resume:before,
	.resume:after{
		text-align: center !important;
	}

	.resume:after{
		text-align: center !important;
		top: 10px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 40px;
	}

	.count-wrap h3 {
		font-size: 30px;
		line-height: 16px;
	}

	.count-wrap p {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
	}

	.count-wrap > div{
		margin-bottom: 40px;
	}

	#filter li{
		margin-bottom: 20px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section div > i {
		float: none;
		margin-right: 0;
	}
	.center-xs {
		text-align: center;
	}

	.logo-img {
		margin-top: 10px;
		margin-left: 10px;
	}

.logo-img img {
	height: 70px;
}

.intro {
	padding-right: 30px;
}

.intro h1 {
	font-size: 25px;
}

.intro p {
	font-size: 12px;
}

.myphoto{
    position: relative;
}

.myphoto img{
    position: relative;
    z-index: -1;
	height: 400px;
	width: auto;
}

.my-signature {
	text-align: center;
}

.download-button {
	text-align: center;
}

.social-icons {
	padding-top: 40px;
}

.chart1 {
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 230px;
	margin-left: 45px;
}

  .overlay nav {
    font-size: 15px;
  }
  .navbar-buttons {
    margin-left: 120px;
  }
  #menu-name {
    font-size: 0px;
  }
  .overlay nav {
    font-size: 17px;
    letter-spacing: 15px;
  }
  .overlay ul li {
    margin-bottom: 30px;
  }
  .timeline-panel {
	background-color: #68c3a3;
  }
  .timeline:before {
	text-align: left !important;
	left: 1px;
  }
}

/* Landscape Mobile */
@media only screen and (min-width : 480px) and (max-width : 767px) {

	#preloder img {
	  position: absolute;
	  top: 20.5%;
	  left: 25.15%;
	}

	#preloder p{
	  position: absolute;
	  top: 40.5%;
	  left: 20.85%;
	  color: #68c3a3;
	  font-size: 12px;
	  font-weight: 500;
	  font-family: 'Orbitron', sans-serif;
	}

	.loader {
	  width: 140px;
	  height: 140px;
	  position: absolute;
	  top: 20%;
	  left: 25%;
	  border-radius: 140px;
	  animation: loader 5s linear infinite;
	  -webkit-animation: loader 5s linear infinite;
	}

	.intro h1 {
		font-size: 60px;
		line-height: 80px;
	}
	
	.social-icons ul{
		margin-left: -5px;
	}

	.social-icons li{
		padding:0 5px;
	}

	.social-icons a i{
		margin:0 7px;
	}

	.mouse-icon{
		display:none;
	}

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	ul.list-check li {
		width: 50%;
	}


	/*resume*/
	.resume:before,
	.resume:after{
		text-align: center !important;
	}

	.resume:after{
		text-align: center !important;
		top: 10px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 12px;
	}

	/*facts section*/
	.count-wrap i {
		font-size: 64px;
	}

	.count-wrap h3 {
		font-size: 50px;
		line-height: 28px;
	}

	.count-wrap p {
		font-size: 18px;
		font-weight: 700;
		line-height: 28px;
	}

	.count-wrap > div{
		margin-bottom: 40px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	/*hire us section*/
	.hire-section h2 {
		line-height: 40px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon, 
	.contact-section .mobile-icon {
		float: none;
	}
	.center-xs {
		text-align: center;
	}

	.logo-img {
		margin-top: 10px;
		margin-left: 10px;
	}

	.logo-img img {
		height: 70px;
	}
	
	.timeline-panel {
		background-color: #68c3a3;
	  }
}

/* Medium Phones */
@media (min-width: 321px) and (max-width : 376px) {

	#preloder img {
	  position: absolute;
	  top: 20.5%;
	  left: 30.15%;
	}

	#preloder p{
	  position: absolute;
	  top: 40.5%;
	  left: 25.85%;
	  color: #68c3a3;
	  font-size: 12px;
	  font-weight: 500;
	  font-family: 'Orbitron', sans-serif;
	}

	.loader {
	  width: 140px;
	  height: 140px;
	  position: absolute;
	  top: 20%;
	  left: 30%;
	  border-radius: 140px;
	  animation: loader 5s linear infinite;
	  -webkit-animation: loader 5s linear infinite;
	}

.logo-img {
	margin-top: 10px;
	margin-left: 10px;
}

.logo-img img {
	height: 70px;
}

.intro {
	padding-right: 30px;
}

.intro h1 {
	font-size: 30px;
}

.intro p {
	font-size: 13px;
}

.social-icons {
	text-align: center;
}

.myphoto{
    position: relative;
    background: url(photo-frame.png) bottom no-repeat;
    background-size: 320px auto;
}

.myphoto img{
    position: relative;
    z-index: -1;
    width: auto;
}

.my-signature {
	text-align: center;
}

.btn-primary{
	margin-top: 10px;
}

.download-button {
	text-align: center;
}

.chart1 {
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 230px;
	margin-left: 45px;
}

  .overlay nav {
    font-size: 25px;
  }
  .navbar-buttons {
    margin-left: 170px;
  }
  #menu-name {
    font-size: 0px;
  }
  .overlay nav {
    font-size: 17px;
    letter-spacing: 14px;
  }
  .overlay ul li {
    margin-bottom: 30px;
  }
  
  .timeline-panel {
	background-color: #68c3a3;
  }
  .timeline:before {
	text-align: left !important;
  }
}

/* Large Phones */
@media (min-width: 376.5px) and (max-width : 426px) {

	#preloder img {
	  position: absolute;
	  top: 20.5%;
	  left: 35.15%;
	}

	#preloder p{
	  position: absolute;
	  top: 40.5%;
	  left: 30.85%;
	  color: #68c3a3;
	  font-size: 12px;
	  font-weight: 500;
	  font-family: 'Orbitron', sans-serif;
	}

	.loader {
	  width: 140px;
	  height: 140px;
	  position: absolute;
	  top: 20%;
	  left: 35%;
	  border-radius: 140px;
	  animation: loader 5s linear infinite;
	  -webkit-animation: loader 5s linear infinite;
	}

.myphoto{
    position: relative;
    background-size: auto auto;
}

.myphoto img{
    position: relative;
    z-index: -1;
    width: auto;
}

.intro {
	padding-right: 50px;
}

.intro h1 {
	font-size: 30px;
}

.intro p {
	font-size: 13px;
}

.social-icons {
	text-align: center;
	padding-bottom: 40px;
}

.logo-img {
	margin-top: 10px;
	margin-left: 10px;
}

.logo-img img {
	height: 70px;
}

.my-signature {
	text-align: center;
}

.btn-primary{
	margin-top: 10px;
}

.download-button {
	text-align: center;
}

.chart1 {
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 230px;
	margin-left: 45px;
}

  .overlay nav {
    font-size: 25px;
  }
  .navbar-buttons {
    margin-left: 170px;
  }
  #menu-name {
    font-size: 0px;
  }
  .overlay nav {
    font-size: 25px;
    letter-spacing: 20px;
  }
  .overlay ul li {
    margin-bottom: 30px;
  }
  
  .timeline-panel {
	background-color: #68c3a3;
  }
  .timeline {
	text-align: left !important;
  }
}

/* Tablets */
@media (min-width: 426.1px) and (max-width : 768px) {

	#preloder img {
	  position: absolute;
	  top: 35.5%;
	  left: 40.15%;
	}

	#preloder p{
	  position: absolute;
	  top: 55.5%;
	  left: 30.85%;
	  color: #68c3a3;
	  font-weight: 500;
	  font-family: 'Orbitron', sans-serif;
	}

	.loader {
	  width: 140px;
	  height: 140px;
	  position: absolute;
	  top: 35%;
	  left: 40%;
	  border-radius: 140px;
	  animation: loader 5s linear infinite;
	  -webkit-animation: loader 5s linear infinite;
	}

.logo-img {
	margin-top: 10px;
	margin-left: 10px;
}

.logo-img img {
	height: 100px;
}

.myphoto{
    position: relative;
}

.myphoto img{
    position: relative;
    z-index: -1;
    width: 510px;
    padding-bottom: 1px;
}

.biography ul{
    padding:25px 20px 30px;
	text-align: center;
	margin: 0 10px;
}

.biography ul li{
    padding:5px 0;
    font-size: 16px;
    border-bottom:1px solid #EEEEEE;
}

.biography ul li:last-child{
    border-bottom:0;
}

.short-info {
	text-align: center;
}

.list-check {
	text-align: left;
}

.my-signature {
	text-align: center;
}

.download-button {
	text-align: center;
}

.chart1 {
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 230px;
	margin-left: 5px;
}

  .overlay nav {
    font-size: 30px;
  }

  .navbar-buttons {
    margin-left: 500px;
  }

  .overlay nav {
    font-size: 35px;
    letter-spacing: 30px;
  }
  .overlay ul li {
    margin-bottom: 50px;
  }
  
  .timeline-panel {
	background-color: #68c3a3;
  }
}

/* Laptop */
@media (min-width : 768px) and (max-width : 1024px) {

	/*about me section*/
	.biography {
		margin-top: 20px;
		margin-bottom: 45px;
	}

	/*resume*/
	.resume:before,
	.resume:after{
		left:0px;
	}

	/*skill section*/
	.skill-title h3 {
		font-size: 14px;
	}

	/*blog section*/
	.blog-post-wrapper {
		margin-bottom: 40px;
	}

	.entry-meta ul li{
		padding: 0 5px;
	}

	/*contact section*/
	.contact-form {
		margin-bottom: 40px;
	}

	.contact-section .map-icon, 
	.contact-section .mobile-icon {
		float: left;
	}
	.center-xs {
		text-align: left;
	}


	.portfolio-item{
		min-height: 162px;
	}

	/*service*/
	.service-wrap > div{
		margin-bottom:100px;
	}

	.service-wrap > div:nth-child(3),
	.service-wrap > div:nth-child(4){
		margin-bottom:0;
	}

	.myphoto{
    position: relative;
    background: url(photo-frame.png) bottom no-repeat;
    background-size: 310px auto;
}

	.myphoto img{
    position: relative;
    z-index: -1;
    width: 290px;
    padding-bottom: 1px;
}


}




/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

	.portfolio-item{
		min-height: 150px;
	}
	.download-button a{
		margin-right: 10px;
	}

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width : 1200px) and (max-width : 1279px) {

}

/* Large devices (large desktops, 1280px and up) */
@media screen and (min-width:1280px) and (max-width:1599px) {
	
}

/* Extra Large devices (large desktops, 1600px and up) */
@media screen and (min-width:1600px) and (max-width:1920px) {
	.personal-info{
		padding-right:180px;
	}
}
